# Ігноруємо все, що генерує CubeMX
source/Debug/
source/Release/
source/.mxproject
source/*.launch
source/*.log
source/*.bak
source/*.tmp

# ARM-MDK-KEIL специфічні файли
source/*.uvguix.*
source/*.uvoptx
source/*.uvprojx
source/*.uvgui.*
source/*.uvopt
source/*.uvproj
source/*.ini

# Об’єкти та бінарники
source/**/*.o
source/**/*.d
source/**/*.axf
source/**/*.elf
source/**/*.hex
source/**/*.bin
source/**/*.map
source/**/*.lst

# Автоматично згенеровані бібліотеки
source/**/*.lib

# Конфігураційні та кеш-файли
source/.settings/
source/.cproject
source/.project

# Системні файли IDE
source/*.sct
source/*.scvd
source/*.uvgui.*

# OS специфічні
source/*~
source/*.swp
source/*.DS_Store
